body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer{
    width: auto;
    height: 150px;
    display:flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border: 2px solid red; 
}

.contentFooter{
    width: 280px;
    height: 130px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentFooterptUp{
    width: auto;
    height: 50px;
    border: 2px solid purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 25px;
}
.iconFooter{
    width: 30px;
    height: 30px;
}

.contentFooterptDown {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid green;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.contentFooterptDown ul{
    width: auto;
    display: flex;
    list-style: none;
    padding: 7px;
    margin: 0;
    gap: 20px;  
}

.contentFooterptDown li{
    margin-bottom: 8px;
    text-decoration: none; 
    color: #fff;            
}
